:root {
  --color-primary: hsl(2, 83%, 63%);
  --color-secondary: hsl(191, 62%, 74%);
  --color-tertiary: hsl(48, 88%, 52%);
  --color-accent-primary: hsl(0, 0%, 100%);
  --color-accent-secondary: hsl(202, 4%, 61%);
  --color-accent-tertiary: hsla(0, 0%, 73%, 0.306);
  --button-brush: hsl(30, 40%, 70%);
  --button-brush-text: hsl(0, 0%, 100%);
  --button-rainbow: linear-gradient(
    to right,
    hsl(0, 70%, 75%),
    hsl(30, 70%, 75%),
    hsl(55, 70%, 75%),
    hsl(130, 50%, 75%),
    hsl(200, 60%, 75%),
    hsl(260, 50%, 75%),
    hsl(300, 50%, 80%)
  );
  --button-shading: hsl(0, 0%, 0%);
  --button-lighten: hsl(0, 0%, 100%);
  --button-eraser: hsl(350, 80%, 85%);
  --button-eraser-text: hsl(345, 60%, 45%);
  --button-clean: hwb(0 47% 53%);
}

*,
::after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background: url("../assets/images/image-background.jpg") no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-block: 1rem;
  font-family: "Quicksand", sans-serif;
}
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: hsla(0, 0%, 0%, 0.103);
  z-index: -1;
}

.heading {
  color: var(--color-primary);
  text-shadow: 0 0 1rem var(--color-accent-primary);
  font-weight: bolder;
  font-size: clamp(2rem, 2rem + 1vw, 3rem);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: var(--color-accent-primary);
  width: min(80vw, 50rem);
  border-radius: clamp(1.5rem, 1.5rem + 1vw, 3rem);
}
.container__icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-inline-end: 0.3rem;
}
.container__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 0.67rem;
  width: 100%;
  background: var(--color-accent-tertiary);
  padding: clamp(1rem, 1rem + 1vw, 2rem);
}
.container__controls #color-picker {
  width: clamp(5rem, 5rem + 5vw, 10rem);
  height: clamp(5rem, 5rem + 4vw, 10rem);
  border: none;
  cursor: pointer;
}
.container__art-board {
  position: relative;
  width: clamp(20rem, 20rem + 2vw, 30rem);
  aspect-ratio: 1/1;
  border: 1px solid var(--color-accent-secondary);
  display: grid;
}
.container__art-board-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 4rem 2rem 2rem 2rem;
}
.container__art-board__box {
  aspect-ratio: 1/1;
}
.container__art-board-clip {
  z-index: 2;
  position: absolute;
  transform: translateX(-50%);
  height: 10%;
}
.container__art-board-clip-primary {
  top: -10%;
  left: 50%;
  width: 70%;
  border-radius: 10rem 10rem 0 0;
  background: var(--color-secondary);
}
.container__art-board-clip-secondary {
  top: -14%;
  left: 50%;
  width: 20%;
  border-radius: 10rem;
  background: var(--color-accent-primary);
  border: 0.6rem solid var(--color-secondary);
}
.container__button--brush {
  background: var(--button-brush);
  color: var(--button-brush-text);
}
.container__button--rainbow {
  background: var(--button-rainbow);
}
.container__button--rainbow span:nth-child(1) {
  color: hsl(55, 70%, 60%);
}
.container__button--rainbow span:nth-child(2) {
  color: hsl(300, 50%, 65%);
}
.container__button--rainbow span:nth-child(3) {
  color: hsl(200, 60%, 60%);
}
.container__button--rainbow span:nth-child(4) {
  color: hsl(0, 70%, 60%);
}
.container__button--rainbow span:nth-child(5) {
  color: hsl(130, 50%, 60%);
}
.container__button--rainbow span:nth-child(6) {
  color: hsl(260, 50%, 60%);
}
.container__button--rainbow span:nth-child(7) {
  color: hsl(30, 70%, 60%);
}
.container__button--rainbow span:nth-child(8) {
  color: hsl(200, 60%, 60%);
}
.container__button--rainbow span:nth-child(9) {
  color: hsl(55, 70%, 60%);
}
.container__button--rainbow span:nth-child(10) {
  color: hsl(0, 70%, 60%);
  margin-inline-start: 0.5rem;
}
.container__button--rainbow span:nth-child(11) {
  color: hsl(130, 50%, 60%);
}
.container__button--rainbow span:nth-child(12) {
  color: hsl(300, 50%, 65%);
}
.container__button--rainbow span:nth-child(13) {
  color: hsl(30, 70%, 60%);
}
.container__button--shading {
  background: var(--button-shading);
  color: var(--button-lighten);
}
.container__button--shading:hover {
  filter: brightness(0.8) !important;
}
.container__button--lighten {
  background: var(--button-lighten);
  color: var(--button-shading);
}
.container__button--lighten:hover {
  filter: brightness(0.95) !important;
}
.container__button--eraser {
  background: var(--button-eraser);
  color: var(--button-eraser-text);
}
.container__button--clean {
  background: transparent;
  border: 0.15rem solid var(--button-clean) !important;
  color: var(--button-clean);
}
.container button {
  border-radius: 0.5rem;
  border: none;
  width: min(80%, 12rem);
  display: flex;
  padding: 0.4rem;
  align-items: center;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
}
.container button:hover {
  cursor: pointer;
  filter: brightness(1.08);
  transform: scale(1.02);
}
.container button:active {
  transform: scale(0.98);
  filter: brightness(0.9);
}
.container #size-slider {
  width: 80%;
}

@media screen and (min-width: 45rem) {
  .container {
    flex-direction: row;
  }
  .container__controls {
    max-width: 20rem;
    order: 1;
  }
  .container__art-board-wrapper {
    order: 2;
  }
}/*# sourceMappingURL=styles.css.map */